/* Gerais */

body {
  font-family: 'Roboto' sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
  background-color: #353D41;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 55px;
}

/* Banner Principal */

.container-fluid {
  padding: 0;
}

#mainBanner {
  height: 65vh;
}

/* Sobre mim */

#about-area {
  background-color: #f9f9f9;
}

.main-title {
  columns: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  right: 110%;
}

.col-md-6 {
  margin-top: 30px;
}

p {
  font-size: 16px;
  color: #444;
}


/* Formação Acadêmica */

#my-education {
  background-color: #FFFFFF;
}

.education-box li {
  font-size: 16px;
}


#my-education {
  text-align: justify;
}

/* Experiência Profissional */

#my-experience {
  background-color: #f9f9f9;
}



/* Aprendizagem na programação */

#programming-area {
 
  background-color: #FFFFFF;
  /*
    Se colocar o background-color desativa o paralax
  */


}

ul .langs {
  gap: 0.5rem;
  position: relative;
  left: 160px;
}

li .langs {
  width: 70px;
  
}

/* Portfólio */

#projects-area {
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.project-box {
  left: 180px;
  background-color: #f9f9f9;
}

.project-box p {
  text-align: center;
  margin-top: 10px;
}

.project-box a:hover {
  text-decoration: none;
}

/* Rodapé */

#socialLinks {
  gap: 0.5rem;
  width: 30px;
  display: flex;
  list-style: none;
  position: relative;
  left: 420px;
}

#copy-area {
  background-color: #444;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
  color: #FFFFFF;
}


/* Responsividade */

@media only screen and (max-width: 768px) {

  /* Geral */

  .container {
    padding: 20px 0;
  }

  /* Sobre */

  #about-area img {
    margin-top: 100px;
  }

  /* Aprendizagem na programação */

  #programming-area .langs {
  left: 30px;
  width: 50px;
  }

  /* Portfólio */

  #projects-area .project-box img {
    width: 150px;
  }

  #projects-area .project-box {
    right: 200px;
  }

  /* Footer */

  #socialLinks {
    left: 220px;
  }
}



@media only screen and (max-width: 425px) {


  .main-title {
    columns: #444;
    margin: 0 0 65px 0;
    font-size: 25px;
    text-align: center;
  }

  .main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
  }

  .about-title {
    font-size: 15px;
    text-align: center;
  }


  #about-area {
    margin-top: 0px;
  }
 
  #about-area img {
    margin-top: 0px;
  }

  #about-area p {
    text-align: center;
  }

    /* Formação Acadêmica */
 
  .main-title {
    text-align: center;
    margin-bottom: 40px;
  }

  #my-education .main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 80px;
    left: 42.5%;
  }

  .education-box h4 {
    text-align: center;
    margin-top: 20px;
  }

  .education-box li {
    font-size: 10pt;
    text-align: justify;
  }


    /* Experiência Profissional */

  .service-box {
    text-align: center;
  }

  .service-box h4 {
    margin-top: 30px;
  }

  .service-box p {
    margin-top: 20px;
  }


    /* Aprendizagem na programação */

  #programming-area .main-title::after {
      content: "";
      border-top: 2px solid #333;
      width: 15%;
      position: absolute;
      top: 90px;
      left: 42.5%;
    }

  #programming-area li {
    margin-top: 30px;
  }

  #programming-area .langs {
  left: 20px;
  width: 55px;
  margin: 1px;
  padding: 6px;
  }
 
    /* Portfólio */

  #projects-area .project-box {
   left: 0px;
   margin-top: 30px;
  }

  #projects-area .project-box img {
    margin-top: 20px;
    margin-left: 100px;
   }

   .img-fluid {
     width: 350px;
   }

   #projects-area .project-box p {
     font-size: 11pt;
   }
 
 
 /* Footer */
 
  #socialLinks {
   left: 45px;
  }
}